/*css*/

.starter-template{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box{
    padding: 30px;
    width: 100%;
    height: 600px;
    background-color: black;
    overflow-y: scroll;
    color: #19ff19;
    font-size: 20px;
}
.elem{
    width: 50% !important;
    /*overflow: hidden;*/
}
.elem, .elem-info, .elem-size{
    white-space: nowrap;
    display: block;
    overflow: hidden;
    position: relative; float: left;
    width: 24%;
    height: 30px;
}
.elem-info, .elem-size{
    text-align: right;
}
.box-elem{
    display: none;
    text-align: left;
    width: 100%;
}
select{
    width: 15%;
    margin: 0 10px 10px 10px !important;
}
.fl{
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

/* Класс контекстного меню: */
.context-menu {
    position: absolute; /* Задаем абсолютное позиционирование для нашего меню */
    display: none; /* Изначально не показываем его */
    background-color: #fff; /* Цвет фона меню */
    border: 1px solid #333; /* Граница */

    /* Немного красивостей. Добавляем тень для нашего меню, что бы отобразить его слегка выше остальных элементов страницы: */
    -moz-box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Для Firefox */
    -webkit-box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Для Safari и Chrome */
    box-shadow: -5px 2px 10px rgba(0,0,0,0.5); /* Параметры тени */
}

/* Добавляем стили для списка которые будет находиться внутри меню и, собственно, содержать его пункты: */
.context-menu ul { list-style: none; margin: 0; padding: 0; }

.context-menu ul li { margin: 0; padding: 0; background-color: #fff; display: block; }

/* Стили для ссылок пунктов меню: */
.context-menu ul li a { color: #333; text-decoration: none; font-size: 12px; display: block; padding: 5px; }

.context-menu ul li a:hover { background-color: #eee; }